.section{
  position: relative;
  height: 70vh;
  border: 5px solid green;
  display: flex;
  flex-direction: column
}

.side{
  position: relative;
  border: 2px solid;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem
}